workflows/error_notification.json
{
  "name": "共通エラー通知",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nconst workflowName = error.workflow?.name || 'Unknown';\nconst workflowId = error.workflow?.id || '';\nconst nodeName = error.execution?.error?.node?.name || 'Unknown';\nconst errorMessage = error.execution?.error?.message || 'No message';\nconst executionId = error.execution?.id || '';\n\nconst timestamp = new Date().toLocaleString('ja-JP', { timeZone: 'Asia/Tokyo' });\n\nconst baseUrl = 'https://michi-gaeru.app.n8n.cloud';\nconst executionUrl = executionId ? `${baseUrl}/workflow/${workflowId}/executions/${executionId}` : '';\n\nlet message = `[info][title]n8n エラー通知[/title]`;\nmessage += `発生時刻: ${timestamp}\\n`;\nmessage += `ワークフロー: ${workflowName}\\n`;\nmessage += `失敗ノード: ${nodeName}\\n`;\nmessage += `エラー内容: ${errorMessage}`;\nif (executionUrl) {\n  message += `\\n\\n実行ログ: ${executionUrl}`;\n}\nmessage += `[/info]`;\n\nreturn [{ json: { message } }];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/252085376/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "chatwork-send",
      "name": "Chatwork Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Chatwork API"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Chatwork Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}